#book
    // BOOK TABLE
    .book-form
        background: url("../../../public/images/book_table_bg.jpg") no-repeat center center
        width: 80%
        height: 100%
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover
        border-radius: 15px

        p
            font-size: 18px
            font-weight: 200

            strong
                font-size: 22px
                font-weight: 400

        .form-control
            border-radius: 0.7rem

    // OUR BLOG
    .card
        border: none

        .card-body
        .transform-badge
            -ms-transform: translate(25px, -38px)       /* IE 9 */
            -webkit-transform: translate(25px, -38px)   /* Safari */
            transform: translate(25px, -38px)

            p
                .badge
                    background: #c22f43
                    font-size: 18px
                    font-weight: 100

                    .nbr
                        font-size: 22px
                        font-weight: 700

            .card-title
                font-size: 1rem

            .card-text
                font-size: 0.9rem

        .card-img-top
            border: 5px solid #eaeaea
            border-radius: 15px

        // MEDIA QUERIES
        @media only screen and (max-width: 768px)
            .transform-badge
                -ms-transform: translate(135px, -38px)       /* IE 9 */
                -webkit-transform: translate(135px, -38px)   /* Safari */
                transform: translate(135px, -38px)

        @media only screen and (max-width: 576px)
            .transform-badge
                -ms-transform: translate(-20px, -38px)       /* IE 9 */
                -webkit-transform: translate(-20px, -38px)   /* Safari */
                transform: translate(-20px, -38px)