.bg-footer
    background: url("../../../public/images/footer_background.jpg") no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .footer-border
        background-image: url('../../../public/images/footer_bottom_decoration_img.png')
        height: 15px

    h4
        text-transform: uppercase
        font-weight: 300

    p
        font-size: 0.8rem

    a
        i
            color: #fff

    a:hover
        text-decoration: none
        
        i:hover
            color: $primary

    .btn
        text-transform: none

.red
    background: $primary
    height: 60px