h3
    font-family: 'Courgette', cursive
    
.bg-header
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../../public/images/banner1.jpg") no-repeat center center
    height: 900px
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover