body
    box-sizing: border-box
    margin: 0
    padding: 0
    
    h1,
    h3
        font-family: 'Courgette', cursive

    h3
        border-bottom: 1px solid transparent
        padding-top: 15px
        border-image: url("../../../public/images/bottom_decoration_img.png")