.navbar
    .navbar-nav
        width: 80%

        li
            display: flex
            justify-content: space-between
            
            a
                color: #fff
                font-size: 14px
                text-transform: uppercase

        .active
            background: $primary

    .logo
        width: 35%

// NAVBAR STYLE WHEN SCROLL DOWN
.fixed-top.scrolled 
    background: #931322
    transition: background-color 200ms linear